{% extends 'app/base.html' %}
{% load static%}
{%block title%}Introduce{%endblock title%}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {%block introduce%}
                   <div class="body-new-2019">
    <div class="hnc-static-container">
   <h1 class="hnc-static-heading1" style="text-transform:uppercase;">Chính sách đổi trả dành riêng cho khách hàng của Sneakerlele</h1>
   <div class="hnc-static-image-container">
      <img src="{% static 'app/images/sneakerlele.png' %}" width="300" height="300" alt="bảo hành Sneakerlele"> 
   </div>
   
   <div class="hnc-content-box-container">
      <h3 class="hnc-static-heading3 hnc-content-box-title" style="left: calc(50% - 135px);">CHÍNH SÁCH ĐỔI TRẢ</h3>
      <div class="hnc-content-box">
         <p class="hnc-static-text"><strong>Khách hàng được đổi sản phẩm</strong> sang model khác nếu sản phẩm chưa qua sử dụng và phải được kiểm tra và xác nhận bởi nhân viên bảo hành của Sneakerlele. </p>
         <p class="hnc-static-text"><strong>Sản phẩm mới </strong>phải có giá trị bằng hoặc cao hơn giá trị sản phẩm đổi. </p>
         <p class="hnc-static-text"><strong>Cộng thêm thời hạn bảo hành sản phẩm,</strong> Sneakerlele cam kết cộng thêm thời hạn bảo hành số ngày tương ứng với số ngày Khách hàng gửi bảo hành sản phẩm, số ngày này được tính từ ngày Quý khách đi gửi bảo hành sản phẩm đến khi nhận được thông báo sản phẩm đã được bảo hành xong.</p>
         <p class="hnc-static-text"><strong>Thời gian áp dụng: </strong></p>
         <ul class="hnc-static-text">
            <li>Sản phẩm: Quần, áo, mũ, giày dép, phụ kiện…</li>
            <li>Thời gian:Kể từ thời điểm nhận hàng, đổi hàng trong vòng 1 ngày</li>
         </ul>
         
      </div>
   </div>

   <div class="hnc-content-box-container">
      <h3 class="hnc-static-heading3 hnc-content-box-title" style="left: calc(50% - 122px);">ĐIỀU KIỆN CHẤP NHÂN ĐỔI</h3>
      <div class="hnc-content-box">
         <p class="hnc-static-text">Khách hàng được đổi sản phẩm mới cùng loại khi sản phẩm gặp sự cố không thể khắc phục được (do lỗi kỹ thuật của nhà sản xuất). Sản phẩm lỗi chỉ được đổi sau khi đã có xác nhận của kỹ thuật và tuân thủ theo các điều kiện sau đây:</p>
         <p class="hnc-static-text">1. Hàng hóa được xác định nguồn gốc mua tại Sneakerlele (căn cứ vào hóa đơn mua hàng và tem nhận diện dán trên sản phẩm).</p>
         <p class="hnc-static-text">2. Hàng hóa được xác nhận bị lổi kỹ thuật của Kỹ thuật viên của Trung Tâm Bảo Hành của Sneakerlele.</p>
         <p class="hnc-static-text">3. Hàng hóa vẫn còn nguyên tem niêm phong (không bị rách vở hoặc dán lại) của nhà sản xuất hoặc tem của ECCO.</p>
         <p class="hnc-static-text">4. Hàng hóa nhận lại không bị lổi hình thức (trầy xước, móp méo, ố vàng, vỡ …).</p>
         <p class="hnc-static-text">5. Hàng hóa nhận lại phải còn đầy đủ linh phụ kiện, tặng phẩm kèm theo.</p>
         <p class="hnc-static-text">6. Hàng hóa nhận lại phải đảm bảo đầy đủ bao bì, xốp,.. ( ngoại trừ film dán, màng nhựa…).</p>
         <p class="hnc-static-text">7. Hàng hóa khi nhận lại phải có đầy đủ các chứng từ kèm theo ( hóa đơn VAT, Phiếu bảo hành, Sách hướng dẫn, Brochure/ Catalogue…).</p>
         <p class="hnc-static-text">Sneakerlele sẽ thực hiện đổi hàng cho khách, nhưng không hoàn lại phí vận chuyển/ giao hàng (nếu có), trừ những trường hợp sau:</p>
         <ul class="hnc-static-text">
         <li>Không đúng chủng loại, mẫu mã như quý khách đã đặt hàng.</li>
         <li>Không đủ số lượng, không đủ bộ/ thông tin như trong đơn hàng ban đầu.</li>
         <li>Không đạt chất lượng như: quá hạn sử dụng, hết bảo hành, không vận hành được, hỏng hóc khách quan trong phạm vi bảo hành của nhà cung cấp, nhà sản xuất,...</li>
         </ul>
         
      </div>
   </div>
   <div class="hnc-content-box-container">
      <h3 class="hnc-static-heading3 hnc-content-box-title" style="left: calc(50% - 116px);">TRƯỜNG HỢP KHÔNG CHẤP NHẬN ĐỔI HÀNG:</h3>
      <div class="hnc-content-box">
       
         
         <p class="hnc-static-text">1. Quý khách muốn thay đổi chủng loại, mẫu mã nhưng không thông báo trước.</p>
         <p class="hnc-static-text">2. Quý khách vận hành không đúng chỉ dẫn, gây hỏng hóc sản phẩm, hàng hóa.</p>
         <p class="hnc-static-text">4. Quý khách không thực hiện các quy định theo yêu cầu để được hưởng chế độ bảo hành (ví dụ không gửi phiếu bảo hành về đúng nơi quy định trong thời gian quy định).</p>
         <p class="hnc-static-text">5. Quý khách tự làm ảnh hưởng tình trạng bên ngoài như rách bao bì, bong tróc, bể vỡ,…</p>
         <p class="hnc-static-text">6. Hàng hóa đã được ký xác nhận “Đạt tiêu chuẩn chất lượng” nhưng sau đó Quí khách yêu cầu đổi hàng hóa vì lý do sai phạm về hình thức (trầy xước, móp méo, ố vàng, bể vỡ,…).</p>
         
      </div>
   </div>
   
      </div>
  </div>  
        {%endblock introduce%}
    </body>
</html>